img{
  width:40%;
  border-radius: 5%;
}


.conteiner{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:1em;

}

.element-div{
  padding: 1em;
  border:2px rgb(64, 248, 187) solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.App{
  text-align: center;
  
}

body{
  background-color: rgb(179, 255, 229);
  padding: 1em;
}

h1{
  font-weight: bolder;
  color: black;
  font-style: italic;
  text-shadow: 2px 2px 4px #0db3b3; 
  font-size: 3em;
}

h4{
  color: rgb(34, 33, 33);
  font-weight: bold;
}

p{
  color:rgb(73, 72, 72);
}

.Loading-words{
  margin-top: 5em;
  font-size: 2.5em;
}